/* System Fonts */
@font-face {
  font-family: "Times New Roman";
  /* src removed: times-new-roman.ttf not used */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/helvetica/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Decorative Fonts */
@font-face {
  font-family: "Alice";
  src: url("/fonts/Alice/Alice-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Allura";
  src: url("/fonts/Allura/Allura-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Great Vibes";
  src: url("/fonts/Great_Vibes/GreatVibes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brittany";
  src: url("/fonts/brittany_2/Brittany.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Sans-Serif Fonts */
@font-face {
  font-family: "League Spartan";
  src: url("/fonts/League_Spartan/LeagueSpartan-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "League Spartan";
  src: url("/fonts/League_Spartan/LeagueSpartan-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow/Barlow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Serif Fonts */
@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora/Lora-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bree Serif";
  src: url("/fonts/Bree_Serif/BreeSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DM Serif Display";
  src: url("/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Display Fonts */
@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Anton";
  src: url("/fonts/Anton/Anton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "League Gothic";
  src: url("/fonts/League_Gothic/LeagueGothic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Archivo Black";
  src: url("/fonts/Archivo_Black/ArchivoBlack-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
